<link rel="stylesheet" href="/css/adminnav.css">


<nav>
    <div id="image">Review App</div>
    <div id="links-for-pages">
        <span><a href="/">Home</a></span>
    </div>
    <div id="searchbar">
        <div id="input-div">
            <input type="text">
            <button>Search</button>
        </div>
        <div id="logout-div"><a href="/signout">
            Log-out
        </a></div>
    </div>
</nav>

