body #div-form {
  height: 50vh;
  width: 30vw;
  margin-top: 5%;
  position: absolute;
  left: 30vw;
}

body #div-form h1 {
  text-align: center;
}

body #div-form form {
  height: 100%;
  width: 100%;
  border: 5px black solid;
}

body #div-form form .input-divs {
  margin: 5%;
}

body #div-form form button {
  margin: 2% 5%;
}

.input-divs label{
  font-weight: 900;
}

h3 a{
  text-decoration: none;
  color: black;
}
h3{
  text-align: center;
}
